{% extends "base.html" %}
{% block title %}Age{% endblock %}

{% block header %}Suicide by Age Groups{% endblock %}

{% block content1 %} 
This section looks at the suicide rates by age groups and the different injury mechanisms
for each age group. The bottom graph can be used to filter to see trends in the injury
mechanisms for the age groups over time. 
{% endblock %}

{% block content2 %} 
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/suicide_rates/AgeDashboard";
    options = {
      device: 'desktop'
    };
    viz = new tableau.Viz(containerDiv, url, options);

  }
  initViz();
</script>
{% endblock %}

