{% extends "base.html" %}
{% block title %}County{% endblock %}

{% block header %}County Trends{% endblock %}

{% block content1 %} 
Using the 2013 Urbanization codes, 
This section looks at the suicide rates by county urbanization, 
as classified by the 2013 NCHS Urban-Rural Classification Scheme. 
What we see is that non-metropolitan counties have higher suicide rates compared to metropolitan 
counties. 

{% endblock %}

{% block content2 %}
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/county_suicide_rates/CountiesOverTime";
    options = {
      device: 'desktop'
    };
    viz = new tableau.Viz(containerDiv, url, options);
  }
  initViz();
</script>
{% endblock %}