{% extends "base.html" %}
{% block title %}County{% endblock %}

{% block header %}County Trends{% endblock %}

{% block content1 %} 
Using the 2013 Urbanization codes, I was under the assumption that areas with greater population
density would be more prone to suicide risks. I actually found the opposite to be true. When 
looking at metropolitan vs non-metropolitan areas, I found that non-metropolitan areas had significantly
higher rates of suicide.

{% endblock %}

{% block content2 %}
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/county_suicide_rates/CountiesOverTime";

    viz = new tableau.Viz(containerDiv, url, height=0.8, width=0.8);
  }
  initViz();
</script>
{% endblock %}