{% extends "base.html" %}
{% block title %}Gender{% endblock %}

{% block header %}Injury Mechanism by Gender{% endblock %}

{% block content1 %} 
This section looks at the suicide rate by gender and their different injury mechanisms. 
My main findings were that while men overwhelmingly use firearms, the use rate of firearms for both 
genders has stayed fairly consistent over the years.
In contrast, there is an increase in both genders use of suffocation. 
For women, there has been an increase in suicides using poisoning. 
{% endblock %}

{% block content2 %} 
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/suicide_rates/GenderDashboard";
    options = {
      device: 'desktop'
    };
    viz = new tableau.Viz(containerDiv, url, options);
  }
  initViz();
</script>
{% endblock %}