{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}A Rising Trend{% endblock %}

{% block content1 %}
This project will explore the rising suicide rate in the United States through interactive visuals 
to assist in identifying high-risk groups. The output of this project can help drive public information
campaigns about high-risk groups and inform policy interventions aimed at reducing suicides.
{% endblock %}

{% block content2 %}
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/suicide_rates/OverallRate";

    viz = new tableau.Viz(containerDiv, url, height=0.8, width=0.8);
  }
  initViz();
</script>
{% endblock %}