{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}A Rising Trend{% endblock %}

{% block content1 %}
Suicide is a rising trend within the United States. 
My goal is to provide interactive visuals that aid the public in understanding the growing trend
facing our nation from within. With this exploration, we can identify higher risk groups. After
identification, I think it would be important to look into what other places are doing to support
similar groups as well as do focus studies on identified groups.
{% endblock %}

{% block content2 %}
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/suicide_rates/OverallRate";

    viz = new tableau.Viz(containerDiv, url, height=0.8, width=0.8);
  }
  initViz();
</script>
{% endblock %}