{% extends "base.html" %}
{% block title %}Race{% endblock %}

{% block header %}Race Trends{% endblock %}

{% block content1 %}
With the amount of instituational hardship, is there a difference in suicide rates between races?
Yes, but not in the way that I initially expected.

{% endblock %}

{% block content2 %}
<div id="vizContainer"></div>
<script src="https://us-east-1.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script>
  var viz
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
    url = "https://public.tableau.com/views/suicide_rates/RaceDashboard";

    viz = new tableau.Viz(containerDiv, url, height=0.8, width=0.8);
  }
//   function vizResize() {
//     var width = document.getElementById("resizeWidth").value;
//     var height = document.getElementById("resizeHeight").value;
//     var sheet = viz.getWorkbook().getActiveSheet();

//     sheet.changeSizeAsync(
//         {"behavior": "EXACTLY", "maxSize": { "height": height, "width": width }})
//         .then(viz.setFrameSize(parseInt(width, 10), parseInt(height, 10)));
// }
  initViz();
</script>
{% endblock %}